dataset/*
logs
scripts
__pycache__
**/__pycache__/
results
phaze/Estimator/tmp
phaze/Estimator/estimates/*
phaze/Solver/out/*
phaze/GraphExtractor/out/*
accelergy/
accelergy-cacti-plug-in/
accelergy-library-plug-in/
accelergy-table-based-plug-ins/
fairseq/

